<div class="container">
  <h1 style="text-align: center;">Angular 2 PrimeFaces </h1>
  <hr>

  <!--primeNG Buttons-->
  <div id="buttons">
    <div class="row">
      <div class="col-md-6">
        <h4>Buttons</h4><br/>
        <button pButton class="ui-button-success" icon="fa-home" (click)="onClick()"></button>&emsp;
        <button pButton class="ui-button-secondary" label="Button secondary"></button>
      </div>

      <div class="col-md-8">
        <h4>Split buttons</h4>
        <button pButton label="split button"></button>
      </div>

    </div>
  </div>

  <hr>
  <br>
  <!--primeNG Inputs-->
  <div id="inputs">
    <div class="row">

      <div class="col-md-12">
        <h4>Input Groups</h4><br/>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username">
        </div>
      </div>

      <div class="col-md-12">
        <h4>Split buttons</h4>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username">
          <button pButton class="ui-button-danger" label="Lock User" icon="fa-lock" (click)="onClick()"></button>
        </div>
      </div>

    </div>
  </div>

</div>
